<mat-form-field class="full-width" appearance="outline" floatLabel="always" color="warn">
  <mat-label>Item name</mat-label>
  <input
    matInput
    type="text"
    name="Description"/>
</mat-form-field>
<mat-form-field class="full-width" appearance="fill" floatLabel="always">
  <mat-label>Item name</mat-label>
  <input
    matInput
    type="text"
    name="Description"/>
</mat-form-field>
<mat-form-field class="full-width" appearance="fill" floatLabel="always">
  <mat-label>Item name</mat-label>
  <input
    matInput
    type="text"
    name="Description"/>
</mat-form-field>
